<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/doc.min.css">
    <link rel="stylesheet" href="../ztree/zTreeStyle.css">
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }
    </style>
</head>

<body>

<div th:replace="~{commons/maincommons::topbar}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/maincommons::sidebar(active='permission',active2='permission')}"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="panel panel-default">
                <div class="panel-heading"><i class="glyphicon glyphicon-th-list"></i> 权限菜单列表
                    <div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i
                            class="glyphicon glyphicon-question-sign"></i></div>
                </div>
                <div class="panel-body">
                    <ul id="treeDemo" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">帮助</h4>
            </div>
            <div class="modal-body">
                <div class="bs-callout bs-callout-info">
                    <h4>没有默认类</h4>
                    <p>警告框没有默认类，只有基类和修饰类。默认的灰色警告框并没有多少意义。所以您要使用一种有意义的警告类。目前提供了成功、消息、警告或危险。</p>
                </div>
                <div class="bs-callout bs-callout-info">
                    <h4>没有默认类</h4>
                    <p>警告框没有默认类，只有基类和修饰类。默认的灰色警告框并没有多少意义。所以您要使用一种有意义的警告类。目前提供了成功、消息、警告或危险。</p>
                </div>
            </div>
            <!--
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            -->
        </div>
    </div>
</div>
<script src="../jquery/jquery-2.1.1.min.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../script/docs.min.js"></script>
<script src="../ztree/jquery.ztree.all-3.5.min.js"></script>
<script src="../script/layer.js"></script>
<script type="text/javascript">
    $(function () {
        $(".list-group-item").click(function () {
            if ($(this).find("ul")) {
                $(this).toggleClass("tree-closed");
                if ($(this).hasClass("tree-closed")) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });


        //$.fn.zTree.init($("#treeDemo"), setting); //异步访问数据

        var d = [{
            "id": 1,
            "pid": 0,
            "seqno": 0,
            "name": "系统权限菜单",
            "url": null,
            "icon": "fa fa-sitemap",
            "open": true,
            "checked": false,
            "children": [{
                "id": 2,
                "pid": 1,
                "seqno": 0,
                "name": "控制面板",
                "url": "dashboard.htm",
                "icon": "fa fa-desktop",
                "open": true,
                "checked": false,
                "children": []
            }, {
                "id": 6,
                "pid": 1,
                "seqno": 1,
                "name": "消息管理",
                "url": "message/index.htm",
                "icon": "fa fa-weixin",
                "open": true,
                "checked": false,
                "children": []
            }, {
                "id": 7,
                "pid": 1,
                "seqno": 1,
                "name": "权限管理",
                "url": "",
                "icon": "fa fa-cogs",
                "open": true,
                "checked": false,
                "children": [{
                    "id": 8,
                    "pid": 7,
                    "seqno": 1,
                    "name": "用户管理",
                    "url": "user/index.htm",
                    "icon": "fa fa-user",
                    "open": true,
                    "checked": false,
                    "children": []
                }, {
                    "id": 9,
                    "pid": 7,
                    "seqno": 1,
                    "name": "角色管理",
                    "url": "role/index.htm",
                    "icon": "fa fa-graduation-cap",
                    "open": true,
                    "checked": false,
                    "children": []
                }, {
                    "id": 10,
                    "pid": 7,
                    "seqno": 1,
                    "name": "许可管理",
                    "url": "permission/index.htm",
                    "icon": "fa fa-check-square-o",
                    "open": true,
                    "checked": false,
                    "children": []
                }]
            }, {
                "id": 11,
                "pid": 1,
                "seqno": 1,
                "name": "资质管理",
                "url": "",
                "icon": "fa fa-certificate",
                "open": true,
                "checked": false,
                "children": [{
                    "id": 12,
                    "pid": 11,
                    "seqno": 1,
                    "name": "分类管理",
                    "url": "cert/type.htm",
                    "icon": "fa fa-th-list",
                    "open": true,
                    "checked": false,
                    "children": []
                }, {
                    "id": 13,
                    "pid": 11,
                    "seqno": 1,
                    "name": "资质管理",
                    "url": "cert/index.htm",
                    "icon": "fa fa-certificate",
                    "open": true,
                    "checked": false,
                    "children": []
                }]
            }, {
                "id": 15,
                "pid": 1,
                "seqno": 1,
                "name": "流程管理",
                "url": "process/index.htm",
                "icon": "fa fa-random",
                "open": true,
                "checked": false,
                "children": []
            }, {
                "id": 16,
                "pid": 1,
                "seqno": 1,
                "name": "审核管理",
                "url": "",
                "icon": "fa fa-check-square",
                "open": true,
                "checked": false,
                "children": [{
                    "id": 17,
                    "pid": 16,
                    "seqno": 1,
                    "name": "实名认证人工审核",
                    "url": "process/cert.htm",
                    "icon": "fa fa-check-circle-o",
                    "open": true,
                    "checked": false,
                    "children": []
                }]
            }]
        }];
        // $.fn.zTree.init($("#treeDemo"), setting, d);

        loadPermissionTree()

    });
    var contextPath = getContextPath()
    function getContextPath(){
        var pathName = document.location.pathname;
        var index = pathName.substr(1).indexOf("/");
        var result = pathName.substr(0,index+1);
        return result;
    }
    function loadPermissionTree() {
        var setting = {
            view: {
                selectedMulti: false,
                addDiyDom: function (treeId, treeNode) {
                    var icoObj = $("#" + treeNode.tId + "_ico"); // tId = permissionTree_1, $("#permissionTree_1_ico")
                    if (treeNode.icon) {
                        icoObj.removeClass("button ico_docu ico_open").addClass("fa fa-fw " + treeNode.icon).css("background", "");
                    }
                },
                addHoverDom: function (treeId, treeNode) {
                    var str = "#" + treeNode.tId + "_a";
                    var aObj = $(str); // tId = permissionTree_1, ==> $("#permissionTree_1_a")
                    aObj.attr("href", "javascript:;");
                    if (treeNode.editNameFlag || $("#btnGroup" + treeNode.tId).length > 0) return;
                    var s = '<span id="btnGroup' + treeNode.tId + '">';
                    if (treeNode.level == 0) {
                        s += '<a class="btn btn-info dropdown-toggle btn-xs" style="margin-left:10px;padding-top:0px;" href="'+contextPath+'/permission/toAddPermission" >&nbsp;&nbsp;<i class="fa fa-fw fa-plus rbg "></i></a>';
                    } else {
                        s += '<a class="btn btn-info dropdown-toggle btn-xs" style="margin-left:10px;padding-top:0px;"  href="'+contextPath+'/permission/toUpdatePermission/{'+treeNode.name+'}" title="修改权限信息">&nbsp;&nbsp;<i class="fa fa-fw fa-edit rbg "></i></a>';
                        s += '<a class="btn btn-info dropdown-toggle btn-xs" style="margin-left:10px;padding-top:0px;" onclick="javascript:deleteConfirm(\''+treeNode.name.toString()+'\')">&nbsp;&nbsp;<i class="fa fa-fw fa-times rbg "></i></a>';
                    }

                    s += '</span>';
                    aObj.after(s);
                },
                removeHoverDom: function (treeId, treeNode) {
                    $("#btnGroup" + treeNode.tId).remove();
                }
            },
            async: {
                enable: true,
                url: "tree.txt",
                autoParam: ["id", "name=n", "level=lv"]
            },
            callback: {
                onClick: function (event, treeId, json) {

                }
            }
        };



        var path = contextPath + "/permission/searchPermissionTree"
        $.ajax({
            url: path,
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            type: "post",
            success: function (data) {

                $.fn.zTree.init($("#treeDemo"), setting, data);
            }
        })
    }
    function deleteConfirm(name) {
        layer.confirm('确定删除该许可吗？', {
                skin: 'layui-layer-molv', //样式类名
                btn: ['确定','取消']
            },function (index) {
                layer.close(index);
            deletePermission(name)
            },function () {
            }
        );
    }

    function deletePermission(name) {
        var path = contextPath+'/permission/deletePermission/{'+name+'}'
        $.ajax({
            url: path,
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            type: "post",
            success: function (data) {
                if(data==true){
                    layer.msg('删除成功', {
                        skin: 'layui-layer-molv', //样式类名
                        closeBtn: 0,
                        icon: 1,
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    })
                    setTimeout(function () {
                        window.location.reload()
                    },1000)
                }else{
                    layer.msg('删除失败', {
                        skin: 'layui-layer-molv', //样式类名
                        closeBtn: 0,
                        icon: 2,
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    })
                }
            },error:function () {
                layer.msg('服务器错误', {
                    skin: 'layui-layer-molv', //样式类名
                    closeBtn: 0,
                    icon: 2,
                    time: 1000 //2秒关闭（如果不配置，默认是3秒）
                })
            }
        })
    }

</script>
</body>
</html>
