<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }

        table tbody tr:nth-child(odd) {
            background: #F4F4F4;
        }

        table tbody td:nth-child(even) {
            color: #C00;
        }
    </style>
</head>

<body>
<div th:replace="~{commons/maincommons::topbar}"></div>


<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/maincommons::sidebar(active='user',active2='permission')}"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline" role="form" style="float:left;">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <div class="input-group-addon">查询条件</div>
                                <input id="searchCondition" class="form-control has-success" type="text"
                                       placeholder="请输入查询条件">
                            </div>
                        </div>
                        <a type="button" class="btn btn-warning" onclick="javascript:conditionSearch()"><i
                                class="glyphicon glyphicon-search"></i> 查询
                        </a>
                    </form>
                    <button type="button" class="btn btn-danger" style="float:right;margin-left:10px;"
                            onclick="javasript:deleteSelectConfirm()"><i
                            class=" glyphicon glyphicon-remove"></i> 删除
                    </button>
                    <br>
                    <br>
                    <div class="btn-group" style="padding-top: 20px;margin-left: 0;padding-bottom: 20px">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span id="type">管理员</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a onclick="javascript:loadPageData2()">会员</a></li>
                            <li><a onclick="javascript:loadPageData()">管理员</a></li>
                        </ul>
                    </div>
                    <div class="table-responsive">
                        <table class="table  table-bordered">
                            <thead>
                            <tr>
                                <th width="30">#</th>
                                <th width="30"><input type="checkbox" id="allBox" onclick="javascript:shiftBox()"></th>
                                <th>账号</th>
                                <th>名称</th>
                                <th>邮箱地址</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody id="tbody">

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" align="center">
                                        <div class="col-md-12">
                                            <div class="col-md-2" style="padding-top: 18px">
                                             <span id="pageLeft" style="font-size: 18px;">
                                             </span>
                                            </div>

                                            <div class="col-md-10">
                                                <nav aria-label="..." style="float: right">
                                                    <ul id="pageRight" class="pagination">
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/script/docs.min.js}"></script>
<script th:src="@{/script/layer.js}"></script>
<script type="text/javascript" language='javascript' th:inline="javascript">
    $(function () {
        $(".list-group-item").click(function () {
            if ($(this).find("ul")) {
                $(this).toggleClass("tree-closed");
                if ($(this).hasClass("tree-closed")) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });

        //读取页面数据
        loadPageData(1);


    });
    // $("tbody .btn-success").click(function () {
    //     window.location.href = "assignRole.html";
    // });
    // $("tbody .btn-primary").click(function () {
    //     window.location.href = "edit.html";
    // });

    var type = 1;

    function getContextPath() {
        var pathName = document.location.pathname;
        var index = pathName.substr(1).indexOf("/");
        var result = pathName.substr(0, index + 1);
        return result;
    }

    function loadPageData(currentPage) {
        var pageSize = 15;
        var da = JSON.stringify({pageSize: pageSize, currentPage: currentPage});
        var contextPath = getContextPath()
        var path = contextPath + "/permission/searchUserPage"
        $.ajax({
            url: path,
            contentType: "application/json;charset=UTF-8",
            data: da,
            dataType: "json",
            type: "post",
            success: function (data) {
                var tr = '';
                for (var i = 0; i < data.pageData.length; i++) {
                    var tr1 = ' <tr>\n' +
                        '                                <td>' + data.pageData[i].id + '</td>\n' +
                        '                                <td><input type="checkbox" class="checkbox" id="' + data.pageData[i].id + '"></td>\n' +
                        '                                <td>' + data.pageData[i].username + '</td>'
                    tr += tr1;

                    if (data.pageData[i].name == null) {
                        var tr2 = '                     <td>用户暂未实名认证</td>'
                        tr += tr2;
                    } else {
                        var tr2 = '                     <td>' + data.pageData[i].name + '</td>'
                        tr += tr2;
                    }

                    var tr3 =
                        '                                <td>' + data.pageData[i].email + '</td>\n' +
                        '                                <td>\n' +
                        '                                    <a type="button" class="btn btn-success btn-xs"><i\n' +
                        '                                            class=" glyphicon glyphicon-check" onclick="javascript:toAssignRole()"></i></a>\n' +
                        '                                    <a type="button" class="btn btn-danger btn-xs"><i\n' +
                        '                                            class=" glyphicon glyphicon-remove" onclick="javascript:deleteConfirm(' + data.pageData[i].id + ')"></i></a>\n' +
                        '                                </td>\n' +
                        '                            </tr>'
                    tr += tr3;
                }
                $("#tbody").html(tr);

                //显示左侧页面信息
                var page1 = '共<span style="color: #017ebc;"> ' + data.totalPage + ' </span> 页 <span style="color: #017ebc;"> ' + data.totalCount + ' </span>条'
                $("#pageLeft").html(page1)

                //显示右侧分页信息
                var pager = ' <li><a href="javascript:loadPageData(' + (data.currentPage - 1) + ')">Previous</a></li>';
                if (data.currentPage - 1 <= 0) {
                    pager = ' <li><a href="javascript:void(0)">Previous</a></li>';
                }

                for (var i = 0; i < data.totalPage; i++) {
                    if (data.currentPage == (i + 1)) {
                        var pagerli = '<li class="active"><a href="javascript:loadPageData(' + (i + 1) + ')">' + (i + 1) + '</a></li>';
                    } else {
                        var pagerli = '<li><a href="javascript:loadPageData(' + (i + 1) + ')">' + (i + 1) + '</a></li>';

                    }
                    pager += pagerli;
                }
                var pager2 = '<li><a href="javascript:loadPageData(' + (data.currentPage + 1) + ')">Next</a></li>';
                if (data.currentPage + 1 > data.totalPage) {
                    pager2 = '<li><a href="javascript:void(0))">Next</a></li>';
                }
                pager += pager2;

                $("#pageRight").html(pager);
                $("#type").text("管理员");
            },
            error: function () {
                layer.msg('数据不见了~', {
                    skin: 'layui-layer-molv', //样式类名
                    closeBtn: 0,
                    icon: 2,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                })
            }
        })
    }

    function deleteConfirm(id) {
        layer.confirm('确定删除该用户吗？', {
                skin: 'layui-layer-molv', //样式类名
                btn: ['确定', '取消']
            }, function (index) {
                layer.close(index);
                deleteOne(id)
            }, function () {
            }
        );
    }

    function deleteSelectConfirm() {
        var boxs = $("tbody tr td input[type='checkbox']");
        var list = new Array()
        $.each(boxs, function (i, n) {
            var checked = n.checked;
            if (checked == true) {
                list.push(n.id)
            }
        })
        if (list.length == 0) {
            layer.msg('请选择删除用户', {
                    skin: 'layui-layer-molv', //样式类名
                    closeBtn: 0,
                    icon: 2,
                    time: 1000 //2秒关闭（如果不配置，默认是3秒）
                }
            );
        } else {
            layer.confirm('确定删除选中用户吗？', {
                    skin: 'layui-layer-molv', //样式类名
                    btn: ['确定', '取消']
                }, function (index) {
                    layer.close(index);
                    deleteSelect()
                }, function () {
                }
            );
        }
    }

    function deleteOne(id) {
        var da = JSON.stringify({id: id})
        var contextPath = getContextPath()
        var path = contextPath + "/permission/deleteUser"
        $.ajax({
            url: path,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: da,
            type: "post",
            beforeSend: function () {

            },
            success: function (data) {
                if (data == true) {
                    layer.msg('删除用户成功', {
                        skin: 'layui-layer-molv', //样式类名
                        closeBtn: 0,
                        icon: 1,
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    })
                    setTimeout(function () {
                        window.location.reload()
                    }, 1000)
                }
            }
        })
    }

    function shiftBox() {
        var cc = $("#allBox")[0].checked;
        $("tbody tr td input[type='checkbox']").prop("checked", cc);
    }

    function deleteSelect() {
        var boxs = $("tbody tr td input[type='checkbox']");
        var list = new Array()
        $.each(boxs, function (i, n) {
            var checked = n.checked;
            if (checked == true) {
                list.push(n.id)
            }
        })
        var da = JSON.stringify({deletes: list});
        var contextPath = getContextPath()
        var path = contextPath + "/permission/deleteRoles"
        $.ajax({
            url: path,
            contentType: "application/json;charset=UTF-8",
            data: da,
            dataType: "json",
            type: "post",
            success: function (data) {
                layer.msg('成功删除' + data + '条数据',
                    {
                        skin: 'layui-layer-molv', //样式类名
                        closeBtn: 0,
                        icon: 1,
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    })
                setTimeout(function () {
                    window.location.reload();
                }, 1000)
            }
        })
    }

    function toAssignRole() {
        var contextPath = getContextPath()
        var path = contextPath + "/permission/toAssignRole"
        window.location.href = path;
    }

    function conditionSearch(currentPage) {
        var condition = $("#searchCondition").val();
        var pageSize = 15;
        var da = JSON.stringify({str: condition, pageSize: pageSize, currentPage: currentPage});
        var contextPath = getContextPath()
        if(type==0){
            var path = contextPath + "/permission/conditionSearchMembers"
        }else{
            var path = contextPath + "/permission/conditionSearchUsers"
        }

        $.ajax({
            url: path,
            contentType: "application/json;charset=UTF-8",
            data: da,
            dataType: "json",
            type: "post",
            success: function (data) {
                var tr = '';
                for (var i = 0; i < data.pageData.length; i++) {
                    var tr1 = ' <tr>\n' +
                        '                                <td>' + data.pageData[i].id + '</td>\n' +
                        '                                <td><input type="checkbox" class="checkbox" id="' + data.pageData[i].id + '"></td>\n' +
                        '                                <td>' + data.pageData[i].username + '</td>'
                    tr += tr1;

                    if (data.pageData[i].name == null) {
                        var tr2 = '                     <td>用户暂未实名认证</td>'
                        tr += tr2;
                    } else {
                        var tr2 = '                     <td>' + data.pageData[i].name + '</td>'
                        tr += tr2;
                    }

                    var tr3 =
                        '                                <td>' + data.pageData[i].email + '</td>\n' +
                        '                                <td>\n' +
                        '                                    <a type="button" class="btn btn-success btn-xs"><i\n' +
                        '                                            class=" glyphicon glyphicon-check" onclick="javascript:toAssignRole()"></i></a>\n' +
                        '                                    <a type="button" class="btn btn-primary btn-xs"><i\n' +
                        '                                            class=" glyphicon glyphicon-pencil"></i></a>\n' +
                        '                                    <a type="button" class="btn btn-danger btn-xs"><i\n' +
                        '                                            class=" glyphicon glyphicon-remove" onclick="javascript:deleteConfirm(' + data.pageData[i].id + ')"></i></a>\n' +
                        '                                </td>\n' +
                        '                            </tr>'
                    tr += tr3;
                }
                $("#tbody").html(tr);

                //显示左侧页面信息
                var page1 = '共<span style="color: #017ebc;"> ' + data.totalPage + ' </span> 页 <span style="color: #017ebc;"> ' + data.totalCount + ' </span>条'
                $("#pageLeft").html(page1)

                //显示右侧分页信息
                var pager = ' <li><a href="javascript:loadPageData(' + (data.currentPage - 1) + ')">Previous</a></li>';
                if (data.currentPage - 1 <= 0) {
                    pager = ' <li><a href="javascript:void(0)">Previous</a></li>';
                }

                for (var i = 0; i < data.totalPage; i++) {
                    if (data.currentPage == (i + 1)) {
                        var pagerli = '<li class="active"><a href="javascript:loadPageData(' + (i + 1) + ')">' + (i + 1) + '</a></li>';
                    } else {
                        var pagerli = '<li><a href="javascript:loadPageData(' + (i + 1) + ')">' + (i + 1) + '</a></li>';

                    }
                    pager += pagerli;
                }
                var pager2 = '<li><a href="javascript:loadPageData(' + (data.currentPage + 1) + ')">Next</a></li>';
                if (data.currentPage + 1 > data.totalPage) {
                    pager2 = '<li><a href="javascript:void(0))">Next</a></li>';
                }
                pager += pager2;

                $("#pageRight").html(pager);
            }
        })
    }

    function loadPageData2(currentPage) {
        var pageSize = 15;
        var da = JSON.stringify({pageSize: pageSize, currentPage: currentPage});
        var contextPath = getContextPath()
        var path = contextPath + "/permission/searchMemberPage"
        $.ajax({
            url: path,
            contentType: "application/json;charset=UTF-8",
            data: da,
            dataType: "json",
            type: "post",
            success: function (data) {
                var tr = '';
                for (var i = 0; i < data.pageData.length; i++) {
                    var tr1 = ' <tr>\n' +
                        '                                <td>' + data.pageData[i].id + '</td>\n' +
                        '                                <td><input type="checkbox" class="checkbox" id="' + data.pageData[i].id + '"></td>\n' +
                        '                                <td>' + data.pageData[i].username + '</td>'
                    tr += tr1;

                    if (data.pageData[i].authstatus == "0") {
                        var tr2 = '                     <td>用户暂未实名认证</td>'
                        tr += tr2;
                    } else if (data.pageData[i].authstatus == "1") {
                        var tr2 = '                     <td>实名认证审核中</td>'
                        tr += tr2;
                    } else {
                        var tr2 = '                     <td>已实名认证</td>'
                        tr += tr2;
                    }

                    var tr3 =
                        '                                <td>' + data.pageData[i].email + '</td>\n' +
                        '                                <td>\n' +
                        '                                    <a type="button" class="btn btn-success btn-xs"><i\n' +
                        '                                            class=" glyphicon glyphicon-check" onclick="javascript:toAssignRole()"></i></a>\n' +
                        '                                    <a type="button" class="btn btn-danger btn-xs"><i\n' +
                        '                                            class=" glyphicon glyphicon-remove" onclick="javascript:deleteConfirm(' + data.pageData[i].id + ')"></i></a>\n' +
                        '                                </td>\n' +
                        '                            </tr>'
                    tr += tr3;
                }
                $("#tbody").html(tr);

                //显示左侧页面信息
                var page1 = '共<span style="color: #017ebc;"> ' + data.totalPage + ' </span> 页 <span style="color: #017ebc;"> ' + data.totalCount + ' </span>条'
                $("#pageLeft").html(page1)

                //显示右侧分页信息
                var pager = ' <li><a href="javascript:loadPageData(' + (data.currentPage - 1) + ')">Previous</a></li>';
                if (data.currentPage - 1 <= 0) {
                    pager = ' <li><a href="javascript:void(0)">Previous</a></li>';
                }

                for (var i = 0; i < data.totalPage; i++) {
                    if (data.currentPage == (i + 1)) {
                        var pagerli = '<li class="active"><a href="javascript:loadPageData(' + (i + 1) + ')">' + (i + 1) + '</a></li>';
                    } else {
                        var pagerli = '<li><a href="javascript:loadPageData(' + (i + 1) + ')">' + (i + 1) + '</a></li>';

                    }
                    pager += pagerli;
                }
                var pager2 = '<li><a href="javascript:loadPageData(' + (data.currentPage + 1) + ')">Next</a></li>';
                if (data.currentPage + 1 > data.totalPage) {
                    pager2 = '<li><a href="javascript:void(0))">Next</a></li>';
                }
                pager += pager2;

                $("#pageRight").html(pager);
                $("#type").text("会员");
                type = 0;
            },
            error: function () {
                layer.msg('数据不见了~', {
                    skin: 'layui-layer-molv', //样式类名
                    closeBtn: 0,
                    icon: 2,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                })
            }
        })
    }
</script>
</body>
</html>
